/* FullScreenVignette.css */

.full-screen-vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, transparent 0, black 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.transparent-circle {
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid white;
}
